<%= stylesheet_link_tag "application" %>

<div class="container">
  <h3 class="m-3">記事一覧</h3>
  <div class="row shadow-lg my-3 p-3 rounded justify-content-center" style="background-color:white">
    <div class="col mx-auto text-center">
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
  </div>
</div>