<%= stylesheet_link_tag "application" %>
<div class="container-field m-2">
<%= image_tag 'about.png',class:"about_image"%>
</div>

<div class="container my-3">
  <div class="balloon">
    <h4>できること</h4>
  </div>
  <div class="row m-5">
  <ul>
    <li>スマートフォンに関する情報の投稿</li>
    <li>他のユーザーとの交流</li>
    <!--<li>お気に入りの情報や投稿の保存</li>-->
  </ul>
  </div>

</div>