h2, .form-group,table,h4,p,h3{
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: #fff799;
}
body {
  background-color: #f5f6f6;;

}
footer{
  background-color: #fff799;
}

.balloon {
    position: relative;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 30px;
    background-color: #82cddd;
    color: white;
    font-weight: bold;
    width: 100%;

}

.balloon:before {
    position: absolute;
    top: 100%;
    left: 40px;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #82cddd;
    border-width: 8px;
    content: "";
}

/*topに戻るスクロールボタン*/
.scroll-top-btn {
  display: none; /* ボタンを初めは非表示に */
  position: fixed; /* ボタンを画面に固定 */
  bottom: 5%; /* 画面の下からの位置 */
  right: 3%; /* 画面の右からの位置 */
  width: 40px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  background-color: #fff799; /* ボタンの背景色 */
  border-radius: 50%; /* ボタンの角を丸くする */
  display: flex; /* ボタン内の要素を横並びに配置 */
  align-items: center; /* ボタン内の要素を縦方向中央に配置 */
  justify-content: center; /* ボタン内の要素を横方向中央に配置 */
  flex-direction: column-reverse;
  color: #fff; /* テキストの色を白に設定 */
  font-size: 24px; /* テキストのフォントサイズ */
  text-decoration: none; /* テキストの下線を削除 */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* ホバー時のトランジション効果の設定 */
  z-index: 9999; /* ボタンを最前面に */
}
.fas fa-chevron-circle-up{
  text-align: center;
}
.scroll-top-btn:hover {
  background-color: #fff799; /* ホバー時の背景色変更 */
  text-decoration: none; /* テキストの下線を削除 */
  color: #fff; /* ホバー時のテキストの色変更 */
  transform: scale(1.1); /* ホバー時の拡大率変更 */
}