h2, .form-group,table,h4,p,h3{
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: #82cddd;
}
body {
  background-color: #f5f6f6;;
  
}
footer{
  background-color: #afafb0;
}

.swiper-slide img {
  width: 100%;  /* 幅を100%に設定 */
  height: auto; /* 高さを自動調整 */
  object-fit: contain;  /* 画像がスライド全体に収まるように表示 */
  object-position: center;  /* 画像の位置を中央に設定 */
}

.balloon {
    position: relative;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 30px;
    background-color: #82cddd;
    color: white;
    font-weight: bold;
    width: 100%;
    
}

.balloon:before {
    position: absolute;
    top: 100%;
    left: 40px;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #82cddd;
    border-width: 8px;
    content: "";
}

.about_image{
  width: 100vw; /* 最大幅を指定 */
  height: auto;
}

.box{
  position: relative;
}
.box_inner{
  padding: 1em;
}
.box:before,
.box:after{
  content: "";
  width: 4em;
  height: 4em;
  position: absolute;
}
.box::before{
  border-top: 2px solid #0094D6;
  border-left: 2px solid #0094D6;
}
.box::after{
  border-bottom: 2px solid #0094D6;
  border-right: 2px solid #0094D6;
  right: 0;
  bottom: 0;
}
.box h3{
  margin: 0 0 .5em;
}
.box h3:first-letter{
  font-size: 1.4em;
  color: #0094D6;
}

.registration {
  position: relative;
  color: #333;
  display: inline-block;
  margin: 47px 0;
  text-shadow: 0 0 2px white;
}
.registration:before {
  content: "";
  position: absolute;
  background: #bbdbf3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}