<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="shadow-lg my-3 p-3 rounded" style="background-color:white">
        <h3 class="text-center">本当に退会しますか？</h3>
        <p class="text-center">
          退会すると、再度同じメールアドレスではログインできなくなります。<br>
          会員登録情報や投稿、いいねした投稿の確認などができなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%= link_to "退会しない", user_path(@user.id), class: "btn btn-primary btn-block" %>
          </div>
          <div class="col-6 text-center">
            <%= link_to "退会する", withdraw_users_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>